services:
  uneedcargo-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3003:3003"
    environment:
      - NODE_ENV=production
      - MYSQL_HOST=????
      - MYSQL_PORT=3307
      - MYSQL_DIALECT==????
      - MYSQL_USERNAME==????
      - MYSQL_PASSWORD==????
      - MYSQL_DB==????
      - MYSQL_TIMEOUT=15000

    restart: unless-stopped
    healthcheck:
      test:
        [
          "CMD",
          "wget",
          "--quiet",
          "--tries=1",
          "--spider",
          "http://localhost:3003/health",
        ]
      interval: 30s
      timeout: 10s
      retries: 3
